.formulas-info {
  margin-top: 2rem;
  background: #eee;
  font-size: 0.66rem;
}

.formulas-info:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
}
.formulas-info-content {
  padding: 0.5rem;
}

.formulas-info-content div {
  margin: 0.5rem;
}

.footer {
  background: #ddd;
  text-align: center;
  font-size: 0.75rem;
}

.footer:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #bbb;
}

.footer:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #bbb;
}

.footer-content {
  padding: 0.75rem;
}
