$scoreTable-height: 3056px;
$scoreTable-transition-enter-time: 300ms;
$scoreTable-transition-leave-time: 300ms;

.score-table {
  margin-top: 2rem;
}

.score-table tr th, .score-table tr td {
  @media (max-width: 1200px) {
    padding: 1rem;
    font-size: 1rem;
  }
  @media (max-width: 992px) {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
  @media (max-width: 768px) {
    padding: 0.5rem;
    font-size: 0.7rem;
  }
  @media (max-width: 550px) {
    padding: 0.35rem;
    font-size: 0.55rem;
  }
  @media (max-width: 450px) {
    padding: 0.3rem;
    font-size: 0.5rem;
  }
  @media (max-width: 370px) {
    padding: 0.2rem;
    font-size: 0.45rem;
  }
}

.score-table .score,
.score-table .threshold {
  text-align: center
}

.score-above {
  color: #5cb85c;
}

.score-under {
  color: #d9534f;
}

.thresholds-title {
  text-align: center;
}

.scoreTable-enter {
  opacity: 0.01;
}

.scoreTable-enter.scoreTable-enter-active {
  opacity: 1;
  transition: opacity $scoreTable-transition-enter-time ease-in;
}

.scoreTable-leave {
  height: $scoreTable-height;
  opacity: 1;
}

.scoreTable-leave.scoreTable-leave-active {
  height: 0;
  opacity: 0.01;
  transition: height $scoreTable-transition-leave-time ease, opacity 200ms;
}
